region                     = "HAS_DEFAULT_COULD_BE_DELETED"
zone                       = "HAS_DEFAULT_COULD_BE_DELETED"
machine_type               = "HAS_DEFAULT_COULD_BE_DELETED"
disk_image                 = "HAS_DEFAULT_COULD_BE_DELETED"
disk_size_gb               = "HAS_DEFAULT_COULD_BE_DELETED"
project_id                 = "FILL_ME"
instance_name              = "FILL_ME-hlf-workstation"
user                       = "FILL_ME"
ssh_publickey_path         = "~/.ssh/FILL_ME"
ssh_privatekey_path        = "~/.ssh/FILL_ME"
ssh_github_privatekey_path = "~/.ssh/FILL_ME"
git_user_name              = "FILL_ME"
git_user_email             = "FILL_ME"
