# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Set default charset
charset = utf-8

# Indentation style
indent_style = space
indent_size = 2

# End of line
end_of_line = lf

# Trim trailing whitespace
trim_trailing_whitespace = true

# Insert final newline
insert_final_newline = true

# Terraform files
[*.tf]
# Terraform specific settings
indent_size = 2