#!/bin/bash

# System startup script executed every instance start
echo "### Start system Startup Script as the root user"

set -euo pipefail

# minikube start
# start docker
systemctl start docker.service